:root
{
  --color:#DCE2F0;
  --color1:#50586C;
  --hover:#3d4c70;
}
.App 
{
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  color: #50586C;
}


.App .container
{
  display: flex;
  gap: 100px;
  padding: 20px;
  margin-top: 8%;
  border-radius: 20px;
  background-color: var(--color);
  box-shadow: 1px 1px 15px 5px black;
}
.App .main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.test-image 
{
  display: grid;
  grid-template-columns: 200px;
  
}
.line
{
  padding: 10px;
  border-bottom: 2px solid;
}
.test-image input
{
  display: none;
}
.test-image label
{
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: var(--color);
  background-color: var(--color1);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.platform-select select ,
::picker(select){
  appearance: base-select;
  font-size: medium;
  direction: ltr;
}
.platform-select select
{
  width: 100%;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
  text-align: center;   
  background-color: var(--color1);
  border: none;
  color: var(--color);
  display: flex;
  align-items: center;
  cursor: pointer;
}
 ::picker(select){
    border: none;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.8);
    cursor: pointer;
    color: var(--color);
    font-weight: bold;
}
option
{
  padding: 3px;
}
option:hover{
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background-color: rgb(0,0,0,1);
}




.App .result
{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.result .img-compare
{
  display: flex;
  gap: 20px;
}

.img-compare .target, .ip-image, .target-logo, .init
{
  height: 400px;
  width: 400px;
  border-radius: 20px;
  box-shadow: inset 1px 1px 8px 1px rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  /* color: rgba(128, 128, 128, 0.5); */
}
.target-logo
{
  color: black;
}
.main-details
{
  width: 100%;
}
.target .target-logo
{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.target-logo .logo, .ip-image img
{
  height: 70%;
  width: 70%;
  border: 1px solid;
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow: 1px 1px 10px 10px;
  border: none;
}
.target-logo .detail
{
  width: 70%;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(213, 235, 255);
  box-shadow: 1px 1px 5px 1px;
  border: none;
  color: black;
  text-align: center;
}
.logo img
{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.App .result .find-button
{
  width: 100%;
}
.find-button input
{
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  color: var(--color);
  background-color: var(--color1);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.find-button input:hover
{
  background-color: var(--hover);
  letter-spacing: 2px;
}




@media (max-width: 1100px) {
  .result .img-compare{
    display: grid;
  }
}

@media (max-width: 700px) {
  .App .container{
    display: grid;
  }
}